<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITimeTrackerService" />
                <binding name="BasicHttpBinding_ITimeTrackerService1" />
                <binding name="BasicHttpsBinding_ITimeTrackerService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            
            <endpoint address="https://timetrackerservice.azurewebsites.net/TimeTrackerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ITimeTrackerService"
                contract="TTServiceHTTPS.ITimeTrackerService" name="BasicHttpsBinding_ITimeTrackerService" />

          <!--<endpoint address="https://beldzb15u16947.corp.symetra.com/TimeTrackerService/TimeTrackerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ITimeTrackerService"
                contract="TTServiceHTTPS.ITimeTrackerService" name="BasicHttpsBinding_ITimeTrackerService" />-->
          
        </client>
    </system.serviceModel>
</configuration>